*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    font-family:  SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;;
    display:flex;
    justify-content: center;
    font-size: 12px;
    letter-spacing: -.01em;
    line-height: 1;
    font-weight: 400;
    gap:  30px;
    padding: 12px 0px  ;
    background-color: white;
  color: var(--r-globalnav-color);
    
}
#navbar li{
 list-style: none; 
}  
button{
     padding: 11px 21px;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
}
#section1{
    height: 650px;
    background-color: yellow;
    background-image: url("./Assets/iphone.png");
    display: flex ;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 28px;
    color: black;
    gap: 10px;
    justify-content: start;
    font-size: larger;
     font-family: "Open Sans", sans-serif;
    padding: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     
}
#section1 h1{
    font-size: 48px;
    font-weight: 600;
}
#section1 h3{
    font-size: 24px;
    font-weight: 400;
}
.btn1{
    background: #0071e3;
    color: black ;
    padding: 11px 21px;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    
} 

#section2{
    height: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: yellow;
    background-image: url(./Assets/airpods.png);
    display: flex ;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 28px;
    color: black;
    gap: 10px;
    justify-content: start;
     font-family: "Open Sans", sans-serif;
    font-size: larger;
    padding: 50px;
    align-content: center;
    background-position: center; 
}

#section2 h1{
    font-size: 48px;
    font-weight: 600;
}
#section2 h3{
    font-size: 24px;
    font-weight: 400;
}

.btn1{
    background: #0071e3;
    color: black ;
    padding: 11px 21px;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    display: flex;
}
.btn2{
    background-color: transparent;
    color: #0071e3;
     border: 1px solid #0071e3;
     border-color: #0071e3 ;
    

}
.btngroup{
display: flex;
justify-content: center;
gap: 20px;
 font-size: 17px;
font-weight: 400;

}
.btn2:hover{
    background-color: #0071e3;
    color: white;
}
#section3{
    height: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: yellow;
    background-image: url(./Assets/apple-watch.png);
    display: flex ;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 28px;
    color: black;
    gap: 10px;
     font-family: "Open Sans", sans-serif;
    justify-content: start;
    font-size: larger;
    padding: 50px;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 247); 
}
#section3 h1{
    font-size: 48px;
    font-weight: 600;
}
#section3 h3{
    font-size: 24px;
    font-weight: 400;
}
#section4{
    display: flex;
    width: 100%;
    height: 650px;
     font-family: "Open Sans", sans-serif;
    gap: 10px;
    background-position: center; 
    background-size: cover;

}
#section4left{
    width: 50%;
    background-color: green;
    flex: 1;
    background-image: url("./Assets/ipad.png");
    background-size: cover;
     font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    gap: 10px;
}
#section4right{
    width: 50%;
    background-color: gray;
    flex: 1;
    background-image: url("./Assets/mac-book.png");
    background-size: cover;
    background-repeat: no-repeat;
     font-family: "Open Sans", sans-serif;
    background-position: center;
    text-align: center;
    gap: 10px;
}

.btn1{
    background: #0071e3;
    color: black ;
    padding: 11px 21px;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 10px;
}
.btn2{
    gap: 10px;
    background-color: transparent;
    color: #0071e3;
     border: 1px solid #0071e3;
     border-color: #0071e3 ;    
}
.btn2:hover{
    background-color: #0071e3;
    color: white;
}
#section4 h1{
    font-size: 48px;
    font-weight: 600; gap: 10px;
}
#section4 h3{
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
}

#section5{
    display: flex;
    width: 100%;
    height: 650px;
    gap: 10px;
    background-position: center; 
    background-size: cover;
    gap: 10px;
;

}
#section5left{
    width: 50%;
    background-color: green;
    flex: 1;
    background-image: url("./Assets/pink-ipad.png");
    background-size: cover;
     font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    gap: 10px;
    margin: 10px 10px 10px 0px;
}
#section5right{
    width: 50%;
    background-color: gray;
    flex: 1;
    background-image: url("./Assets/speaker.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
     font-family: "Open Sans", sans-serif;
    gap: 10px;
    background-position: center;
}

.btn1{
    background: #0071e3;
    color: black ;
    padding: 11px 21px;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 10px;
}
.btn2{
    gap: 10px;
    background-color: transparent;
    color: #0071e3;
     border: 1px solid #0071e3;
     border-color: #0071e3 ;    
}
.btn2:hover{
    background-color: #0071e3;
    color: white;
}
#section5 h1{
    font-size: 48px;
    font-weight: 600; gap: 10px;
}
#section5 h3{
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
}
#section6{
    display: flex;
    width: 100%;
    height: 650px;
    gap: 10px;
    background-position: center; 
    background-size: cover;
    gap: 10px;
;

}
#section6left{
    width: 50%;
    background-color: green;
    flex: 1;
    background-image: url("./Assets/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
     font-family: "Open Sans", sans-serif;
    text-align: center;
    background-position: center;
    gap: 10px;
    margin: 10px 10px 10px 0px;
}
#section6right{
    width: 50%;
    background-color: gray;
    flex: 1;
    background-image: url("./Assets/bank-card.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
     font-family: "Open Sans", sans-serif;
    gap: 10px;
    background-position: center;
}

.btn1{
    background: #0071e3;
    color: black ;
    padding: 11px 21px;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 10px;
}
.btn2{
    gap: 10px;
    background-color: transparent;
    color: #0071e3;
     border: 1px solid #0071e3;
     border-color: #0071e3 ;    
}
.btn2:hover{
    background-color: #0071e3;
    color: white;
}
#section6 h1{
    font-size: 48px;
    font-weight: 600; gap: 10px;
}
#section6 h3{
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
}

#footer {
    background-color: #333;
    width: 100%;
    height: 450px;
    color: #b1b1b3;
    border-bottom: 1px solid white;
}
#footer1{
    padding-top: 10px;
    padding-left: 100px;
}
#footer1 li {
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
    font-size: 14px;
    
}




#footer2 {
    background-color: #333;
    width: 100%;
    height: 300px;
    color: gray;
}


h1 {
    font-weight: bolder;
}





